@media only screen and (max-width: 1200px) {
    .brief-intro {
        text-align: center;
        /* margin: 250px auto 0; */
        /* margin-top: 250px; */
        margin: 150px auto 50px;
        width: 70%;
    }
    
    .brief-intro h1 {
        color: #38A1F3;
        font-size: 300%;
    }
    
    .brief-intro p {
        color: #fff;
        font-size: 120%;
    }
}

@media only screen and (max-width: 1023px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {

}